.toolbar-style{
    height: 1em;
    margin: 0;
    padding-left: 43%;
}

.background-color-style {
    background-color: #676565;
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 5% 20% 23% 20%;
}

.form-style{
    box-shadow: -4px 4px 0.4em;
    background-color: rgb(5, 130, 189);
    margin: 17% 0%;
    position: fixed;
    width: 70%;
    height: 68%;
}

.inner-form{
    background-color: rgb(5, 130, 189);
    height: 100%;;
}

.form-content{
    background-color: aqua;
    color: aqua;
}

.long-form-field {
    text-align: left;
    margin: 0px 20px 0px 20px;
    width: 13em;
}

.checkbox{
    color: darkorange   ;
    background-color: purple;
    border-radius: 5px;
    padding: 3px 6px 3px 6px;
    margin: 10px 0px;
}